body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1775px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u19073 {
  position:absolute;
  left:100px;
  top:160px;
  width:37px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u19074 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19075 {
  position:absolute;
  left:1050px;
  top:180px;
  width:375px;
  height:667px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19076 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19077 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u19078 {
  position:absolute;
  left:1058px;
  top:186px;
  width:360px;
  height:11px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19079 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19080 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19081 {
  position:absolute;
  left:1050px;
  top:180px;
  width:375px;
  height:64px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19082 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u19083 {
  position:absolute;
  left:1058px;
  top:186px;
  width:360px;
  height:11px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19084 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u19085 {
  position:absolute;
  left:1199px;
  top:210px;
  width:95px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u19086 {
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u19087 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19088 {
  position:absolute;
  left:1078px;
  top:208px;
  width:37px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19089 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u19090 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u19091 {
  position:absolute;
  left:1381px;
  top:219px;
  width:4px;
  height:4px;
}
#u19092 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u19093 {
  position:absolute;
  left:1390px;
  top:219px;
  width:4px;
  height:4px;
}
#u19094 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u19095 {
  position:absolute;
  left:1399px;
  top:219px;
  width:4px;
  height:4px;
}
#u19096 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u19097 {
  position:absolute;
  left:1061px;
  top:211px;
  width:11px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19098 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19099 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19100 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u19101 {
  position:absolute;
  left:1072px;
  top:368px;
  width:331px;
  height:40px;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u19101_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(17, 142, 233, 1);
  -webkit-box-shadow:0px 0px 5px rgba(17, 142, 233, 1);
  box-shadow:0px 0px 5px rgba(17, 142, 233, 1);
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u19101.mouseDown {
}
#u19102 {
  position:absolute;
  left:18px;
  top:12px;
  width:311px;
  word-wrap:break-word;
}
#u19103 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19104 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:48px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u19105 {
  position:absolute;
  left:1072px;
  top:523px;
  width:331px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u19106 {
  position:absolute;
  left:2px;
  top:12px;
  width:327px;
  word-wrap:break-word;
}
#u19107 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19108 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u19109 {
  position:absolute;
  left:1072px;
  top:444px;
  width:331px;
  height:40px;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u19109_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(17, 142, 233, 1);
  -webkit-box-shadow:0px 0px 5px rgba(17, 142, 233, 1);
  box-shadow:0px 0px 5px rgba(17, 142, 233, 1);
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u19109.mouseDown {
}
#u19110 {
  position:absolute;
  left:18px;
  top:12px;
  width:311px;
  word-wrap:break-word;
}
#u19111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u19111 {
  position:absolute;
  left:1050px;
  top:140px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u19112 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u19113 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19114 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u19115 {
  position:absolute;
  left:1072px;
  top:306px;
  width:331px;
  height:40px;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u19115_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(17, 142, 233, 1);
  -webkit-box-shadow:0px 0px 5px rgba(17, 142, 233, 1);
  box-shadow:0px 0px 5px rgba(17, 142, 233, 1);
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u19115.mouseDown {
}
#u19116 {
  position:absolute;
  left:18px;
  top:12px;
  width:311px;
  word-wrap:break-word;
}
#u19117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:17px;
}
#u19117 {
  position:absolute;
  left:1075px;
  top:411px;
  width:200px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3366;
}
#u19118 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  white-space:nowrap;
}
#u19119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19119 {
  position:absolute;
  left:1050px;
  top:244px;
  width:375px;
  height:40px;
}
#u19120 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u19121 {
  position:absolute;
  left:1063px;
  top:256px;
  width:8px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19122 {
  position:absolute;
  left:2px;
  top:-1px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u19123 {
  position:absolute;
  left:1219px;
  top:252px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u19124 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:689px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19125 {
  position:absolute;
  left:100px;
  top:206px;
  width:375px;
  height:689px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19126 {
  position:absolute;
  left:2px;
  top:336px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19127 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u19128 {
  position:absolute;
  left:108px;
  top:212px;
  width:360px;
  height:11px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19129 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19131 {
  position:absolute;
  left:100px;
  top:206px;
  width:375px;
  height:64px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19132 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u19133 {
  position:absolute;
  left:108px;
  top:212px;
  width:360px;
  height:11px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19134 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u19135 {
  position:absolute;
  left:249px;
  top:236px;
  width:95px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u19136 {
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u19137 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19138 {
  position:absolute;
  left:128px;
  top:234px;
  width:37px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19139 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u19140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u19141 {
  position:absolute;
  left:431px;
  top:245px;
  width:4px;
  height:4px;
}
#u19142 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u19143 {
  position:absolute;
  left:440px;
  top:245px;
  width:4px;
  height:4px;
}
#u19144 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u19145 {
  position:absolute;
  left:449px;
  top:245px;
  width:4px;
  height:4px;
}
#u19146 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u19147 {
  position:absolute;
  left:111px;
  top:237px;
  width:11px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19148 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19149 {
  position:absolute;
  left:100px;
  top:270px;
  width:375px;
  height:86px;
}
#u19150 {
  position:absolute;
  left:2px;
  top:35px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19151 {
  position:absolute;
  left:185px;
  top:280px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19152 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u19153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19153 {
  position:absolute;
  left:100px;
  top:444px;
  width:375px;
  height:50px;
}
#u19154 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u19155 {
  position:absolute;
  left:114px;
  top:493px;
  width:360px;
  height:1px;
}
#u19156 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19157 {
  position:absolute;
  left:155px;
  top:461px;
  width:57px;
  height:16px;
}
#u19158 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u19159 {
  position:absolute;
  left:444px;
  top:461px;
  width:10px;
  height:17px;
}
#u19160 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u19161 {
  position:absolute;
  left:114px;
  top:457px;
  width:25px;
  height:25px;
}
#u19162 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19163 {
  position:absolute;
  left:185px;
  top:325px;
  width:131px;
  height:16px;
}
#u19164 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u19165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19165 {
  position:absolute;
  left:100px;
  top:495px;
  width:375px;
  height:50px;
}
#u19166 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19167 {
  position:absolute;
  left:156px;
  top:512px;
  width:57px;
  height:16px;
}
#u19168 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u19169 {
  position:absolute;
  left:445px;
  top:512px;
  width:10px;
  height:17px;
}
#u19170 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u19171 {
  position:absolute;
  left:115px;
  top:508px;
  width:25px;
  height:25px;
}
#u19172 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u19173 {
  position:absolute;
  left:115px;
  top:543px;
  width:360px;
  height:1px;
}
#u19174 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u19175 {
  position:absolute;
  left:115px;
  top:543px;
  width:360px;
  height:1px;
}
#u19176 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:59px;
}
#u19177 {
  position:absolute;
  left:116px;
  top:280px;
  width:59px;
  height:59px;
}
#u19178 {
  position:absolute;
  left:2px;
  top:22px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u19179 {
  position:absolute;
  left:441px;
  top:318px;
  width:19px;
  height:19px;
}
#u19180 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19181 {
  position:absolute;
  left:185px;
  top:303px;
  width:127px;
  height:16px;
}
#u19182 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u19183 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#949494;
}
#u19184 {
  position:absolute;
  left:100px;
  top:855px;
  width:375px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#949494;
}
#u19185 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u19186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u19186 {
  position:absolute;
  left:529px;
  top:350px;
  width:375px;
  height:70px;
}
#u19187 {
  position:absolute;
  left:10px;
  top:10px;
  width:355px;
  word-wrap:break-word;
}
#u19188 {
  position:absolute;
  left:460px;
  top:328px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u19188_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:534px;
  height:8px;
}
#u19188_seg1 {
  position:absolute;
  left:526px;
  top:-4px;
  width:8px;
  height:194px;
}
#u19188_seg2 {
  position:absolute;
  left:526px;
  top:182px;
  width:64px;
  height:8px;
}
#u19188_seg3 {
  position:absolute;
  left:575px;
  top:176px;
  width:20px;
  height:20px;
}
#u19189 {
  position:absolute;
  left:338px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19190 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:167px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19191 {
  position:absolute;
  left:1459px;
  top:456px;
  width:270px;
  height:167px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19192 {
  position:absolute;
  left:0px;
  top:18px;
  width:270px;
  word-wrap:break-word;
}
#u19193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u19193 {
  position:absolute;
  left:1478px;
  top:474px;
  width:17px;
  height:18px;
  font-size:48px;
  color:#CCCCCC;
}
#u19194 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u19195 {
  position:absolute;
  left:1459px;
  top:578px;
  width:270px;
  height:1px;
}
#u19196 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u19197 {
  position:absolute;
  left:1459px;
  top:290px;
  width:316px;
  height:141px;
}
#u19198 {
  position:absolute;
  left:10px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u19199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u19199 {
  position:absolute;
  left:525px;
  top:280px;
  width:250px;
  height:34px;
}
#u19200 {
  position:absolute;
  left:10px;
  top:10px;
  width:230px;
  word-wrap:break-word;
}
#u19201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19201 {
  position:absolute;
  left:100px;
  top:361px;
  width:375px;
  height:77px;
}
#u19202 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19203 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u19204 {
  position:absolute;
  left:166px;
  top:381px;
  width:25px;
  height:25px;
}
#u19205 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u19206 {
  position:absolute;
  left:161px;
  top:414px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u19207 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19208 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u19209 {
  position:absolute;
  left:384px;
  top:381px;
  width:25px;
  height:25px;
}
#u19210 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u19211 {
  position:absolute;
  left:379px;
  top:414px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u19212 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19213 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u19214 {
  position:absolute;
  left:275px;
  top:381px;
  width:25px;
  height:25px;
}
#u19215 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u19216 {
  position:absolute;
  left:270px;
  top:414px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u19217 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(254, 118, 66, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FE7642;
}
#u19218 {
  position:absolute;
  left:292px;
  top:378px;
  width:28px;
  height:15px;
  font-size:12px;
  color:#FE7642;
}
#u19219 {
  position:absolute;
  left:2px;
  top:-1px;
  width:24px;
  word-wrap:break-word;
}
#u19220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(254, 118, 66, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FE7642;
}
#u19220 {
  position:absolute;
  left:181px;
  top:377px;
  width:18px;
  height:15px;
  font-size:12px;
  color:#FE7642;
}
#u19221 {
  position:absolute;
  left:2px;
  top:-1px;
  width:14px;
  word-wrap:break-word;
}
#u19222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19222 {
  position:absolute;
  left:100px;
  top:554px;
  width:375px;
  height:50px;
}
#u19223 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19224 {
  position:absolute;
  left:156px;
  top:571px;
  width:57px;
  height:16px;
}
#u19225 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u19226 {
  position:absolute;
  left:445px;
  top:571px;
  width:10px;
  height:17px;
}
#u19227 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u19228 {
  position:absolute;
  left:115px;
  top:567px;
  width:25px;
  height:25px;
}
#u19229 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19230 {
  position:absolute;
  left:100px;
  top:606px;
  width:375px;
  height:50px;
}
#u19231 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19232 {
  position:absolute;
  left:156px;
  top:623px;
  width:57px;
  height:16px;
}
#u19233 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u19234 {
  position:absolute;
  left:445px;
  top:623px;
  width:10px;
  height:17px;
}
#u19235 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u19236 {
  position:absolute;
  left:115px;
  top:619px;
  width:25px;
  height:25px;
}
#u19237 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19238 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19239 {
  position:absolute;
  left:100px;
  top:658px;
  width:375px;
  height:50px;
}
#u19240 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19241 {
  position:absolute;
  left:156px;
  top:675px;
  width:71px;
  height:16px;
}
#u19242 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u19243 {
  position:absolute;
  left:445px;
  top:675px;
  width:10px;
  height:17px;
}
#u19244 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u19245 {
  position:absolute;
  left:115px;
  top:671px;
  width:25px;
  height:25px;
}
#u19246 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19247 {
  position:absolute;
  left:100px;
  top:718px;
  width:375px;
  height:50px;
}
#u19248 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19249 {
  position:absolute;
  left:156px;
  top:735px;
  width:85px;
  height:16px;
}
#u19250 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#515151;
}
#u19251 {
  position:absolute;
  left:315px;
  top:735px;
  width:139px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#515151;
}
#u19252 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u19253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u19253 {
  position:absolute;
  left:115px;
  top:731px;
  width:25px;
  height:25px;
}
#u19254 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19255 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u19256 {
  position:absolute;
  left:1081px;
  top:255px;
  width:61px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u19257 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
