body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1535px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u19626 {
  position:absolute;
  left:100px;
  top:100px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u19627 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u19628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u19628 {
  position:absolute;
  left:660px;
  top:830px;
  width:330px;
  height:70px;
}
#u19629 {
  position:absolute;
  left:10px;
  top:10px;
  width:310px;
  word-wrap:break-word;
}
#u19630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19630 {
  position:absolute;
  left:100px;
  top:150px;
  width:375px;
  height:667px;
}
#u19631 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19632 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19633 {
  position:absolute;
  left:100px;
  top:150px;
  width:375px;
  height:64px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19634 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u19635 {
  position:absolute;
  left:108px;
  top:156px;
  width:360px;
  height:11px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19636 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u19637 {
  position:absolute;
  left:249px;
  top:179px;
  width:95px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u19638 {
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u19639 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u19640 {
  position:absolute;
  left:437px;
  top:192px;
  width:4px;
  height:4px;
}
#u19641 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u19642 {
  position:absolute;
  left:446px;
  top:192px;
  width:4px;
  height:4px;
}
#u19643 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u19644 {
  position:absolute;
  left:455px;
  top:192px;
  width:4px;
  height:4px;
}
#u19645 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19646 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19647 {
  position:absolute;
  left:100px;
  top:214px;
  width:375px;
  height:40px;
}
#u19648 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u19649 {
  position:absolute;
  left:113px;
  top:226px;
  width:8px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19650 {
  position:absolute;
  left:2px;
  top:-1px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u19651 {
  position:absolute;
  left:259px;
  top:222px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u19652 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19653 {
  position:absolute;
  left:128px;
  top:177px;
  width:37px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19654 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u19655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u19655 {
  position:absolute;
  left:113px;
  top:181px;
  width:9px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19656 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u19657 {
  position:absolute;
  left:446px;
  top:228px;
  width:12px;
  height:12px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19658 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19659 {
  position:absolute;
  left:656px;
  top:147px;
  width:375px;
  height:667px;
}
#u19660 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19661 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19662 {
  position:absolute;
  left:656px;
  top:147px;
  width:375px;
  height:64px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19663 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u19664 {
  position:absolute;
  left:664px;
  top:153px;
  width:360px;
  height:11px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19665 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u19666 {
  position:absolute;
  left:805px;
  top:176px;
  width:95px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u19667 {
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u19668 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u19669 {
  position:absolute;
  left:993px;
  top:189px;
  width:4px;
  height:4px;
}
#u19670 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u19671 {
  position:absolute;
  left:1002px;
  top:189px;
  width:4px;
  height:4px;
}
#u19672 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u19673 {
  position:absolute;
  left:1011px;
  top:189px;
  width:4px;
  height:4px;
}
#u19674 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19675 {
  position:absolute;
  left:684px;
  top:174px;
  width:37px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19676 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u19677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u19677 {
  position:absolute;
  left:669px;
  top:178px;
  width:9px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19678 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19679 {
  position:absolute;
  left:656px;
  top:211px;
  width:375px;
  height:44px;
}
#u19680 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u19681 {
  position:absolute;
  left:662px;
  top:218px;
  width:326px;
  height:31px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u19682 {
  position:absolute;
  left:30px;
  top:8px;
  width:266px;
  word-wrap:break-word;
}
#u19683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u19683 {
  position:absolute;
  left:674px;
  top:226px;
  width:14px;
  height:16px;
  opacity:0.6;
  font-size:44px;
  color:#989898;
}
#u19684 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#108EE9;
}
#u19685 {
  position:absolute;
  left:995px;
  top:224px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#108EE9;
}
#u19686 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u19687 {
  position:absolute;
  left:967px;
  top:226px;
  width:15px;
  height:16px;
  font-size:48px;
  color:#989898;
}
#u19688 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:216px;
}
#u19689 {
  position:absolute;
  left:656px;
  top:598px;
  width:375px;
  height:216px;
}
#u19690 {
  position:absolute;
  left:2px;
  top:100px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19691 {
  position:absolute;
  left:1160px;
  top:147px;
  width:375px;
  height:667px;
}
#u19692 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19693 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19694 {
  position:absolute;
  left:1160px;
  top:147px;
  width:375px;
  height:64px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19695 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u19696 {
  position:absolute;
  left:1168px;
  top:153px;
  width:360px;
  height:11px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19697 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u19698 {
  position:absolute;
  left:1309px;
  top:176px;
  width:95px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u19699 {
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u19700 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u19701 {
  position:absolute;
  left:1497px;
  top:189px;
  width:4px;
  height:4px;
}
#u19702 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u19703 {
  position:absolute;
  left:1506px;
  top:189px;
  width:4px;
  height:4px;
}
#u19704 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u19705 {
  position:absolute;
  left:1515px;
  top:189px;
  width:4px;
  height:4px;
}
#u19706 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19707 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19708 {
  position:absolute;
  left:1160px;
  top:211px;
  width:375px;
  height:40px;
}
#u19709 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u19710 {
  position:absolute;
  left:1173px;
  top:223px;
  width:8px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19711 {
  position:absolute;
  left:2px;
  top:-1px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u19712 {
  position:absolute;
  left:1319px;
  top:219px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u19713 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19714 {
  position:absolute;
  left:1188px;
  top:174px;
  width:37px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19715 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u19716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u19716 {
  position:absolute;
  left:1173px;
  top:178px;
  width:9px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19717 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19718 {
  position:absolute;
  left:458px;
  top:234px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u19718_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:208px;
  height:8px;
}
#u19718_seg1 {
  position:absolute;
  left:189px;
  top:-10px;
  width:20px;
  height:20px;
}
#u19719 {
  position:absolute;
  left:52px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19720 {
  position:absolute;
  left:1031px;
  top:706px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u19720_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u19720_seg1 {
  position:absolute;
  left:6px;
  top:-10px;
  width:8px;
  height:14px;
}
#u19720_seg2 {
  position:absolute;
  left:6px;
  top:-10px;
  width:123px;
  height:8px;
}
#u19720_seg3 {
  position:absolute;
  left:114px;
  top:-16px;
  width:20px;
  height:20px;
}
#u19721 {
  position:absolute;
  left:12px;
  top:-14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19722 {
  position:absolute;
  left:1173px;
  top:230px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u19722_seg0 {
  position:absolute;
  left:-67px;
  top:-4px;
  width:67px;
  height:8px;
}
#u19722_seg1 {
  position:absolute;
  left:-67px;
  top:-164px;
  width:8px;
  height:168px;
}
#u19722_seg2 {
  position:absolute;
  left:-889px;
  top:-164px;
  width:830px;
  height:8px;
}
#u19722_seg3 {
  position:absolute;
  left:-889px;
  top:-164px;
  width:8px;
  height:84px;
}
#u19722_seg4 {
  position:absolute;
  left:-895px;
  top:-95px;
  width:20px;
  height:20px;
}
#u19723 {
  position:absolute;
  left:-452px;
  top:-168px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19724 {
  position:absolute;
  left:1024px;
  top:234px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u19724_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u19724_seg1 {
  position:absolute;
  left:32px;
  top:-138px;
  width:8px;
  height:142px;
}
#u19724_seg2 {
  position:absolute;
  left:-740px;
  top:-138px;
  width:780px;
  height:8px;
}
#u19724_seg3 {
  position:absolute;
  left:-740px;
  top:-138px;
  width:8px;
  height:60px;
}
#u19724_seg4 {
  position:absolute;
  left:-746px;
  top:-93px;
  width:20px;
  height:20px;
}
#u19725 {
  position:absolute;
  left:-343px;
  top:-142px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19726 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:203px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#CCCCCC;
}
#u19727 {
  position:absolute;
  left:113px;
  top:310px;
  width:351px;
  height:203px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#CCCCCC;
}
#u19728 {
  position:absolute;
  left:2px;
  top:94px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:34px;
  background:inherit;
  background-color:rgba(3, 146, 222, 1);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u19729 {
  position:absolute;
  left:112px;
  top:310px;
  width:352px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u19730 {
  position:absolute;
  left:10px;
  top:7px;
  width:324px;
  word-wrap:break-word;
}
#u19731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:128px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19731 {
  position:absolute;
  left:113px;
  top:345px;
  width:351px;
  height:128px;
}
#u19732 {
  position:absolute;
  left:2px;
  top:56px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:17px;
}
#u19733 {
  position:absolute;
  left:195px;
  top:377px;
  width:261px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
}
#u19734 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u19735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u19735 {
  position:absolute;
  left:126px;
  top:377px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
}
#u19736 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u19737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:17px;
}
#u19737 {
  position:absolute;
  left:200px;
  top:400px;
  width:256px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
}
#u19738 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u19739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u19739 {
  position:absolute;
  left:127px;
  top:401px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
}
#u19740 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u19741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:17px;
}
#u19741 {
  position:absolute;
  left:353px;
  top:354px;
  width:102px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
}
#u19742 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u19743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u19743 {
  position:absolute;
  left:126px;
  top:354px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
}
#u19744 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u19745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u19745 {
  position:absolute;
  left:127px;
  top:424px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
}
#u19746 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u19747 {
  position:absolute;
  left:416px;
  top:423px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
}
#u19748 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 142, 233, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#118EE9;
}
#u19749 {
  position:absolute;
  left:413px;
  top:482px;
  width:42px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#118EE9;
}
#u19750 {
  position:absolute;
  left:6px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u19751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 142, 233, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#118EE9;
}
#u19751 {
  position:absolute;
  left:366px;
  top:482px;
  width:42px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#118EE9;
}
#u19752 {
  position:absolute;
  left:6px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u19753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u19753 {
  position:absolute;
  left:126px;
  top:448px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
}
#u19754 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u19755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
}
#u19755 {
  position:absolute;
  left:374px;
  top:446px;
  width:82px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
}
#u19756 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u19757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:17px;
}
#u19757 {
  position:absolute;
  left:122px;
  top:482px;
  width:166px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#868686;
  text-align:right;
}
#u19758 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u19759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u19759 {
  position:absolute;
  left:424px;
  top:317px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u19760 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u19761 {
  position:absolute;
  left:125px;
  top:225px;
  width:61px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u19762 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u19763 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:203px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#CCCCCC;
}
#u19764 {
  position:absolute;
  left:114px;
  top:526px;
  width:351px;
  height:203px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#CCCCCC;
}
#u19765 {
  position:absolute;
  left:2px;
  top:94px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:34px;
  background:inherit;
  background-color:rgba(3, 146, 222, 1);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u19766 {
  position:absolute;
  left:113px;
  top:526px;
  width:351px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u19767 {
  position:absolute;
  left:10px;
  top:7px;
  width:323px;
  word-wrap:break-word;
}
#u19768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:128px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19768 {
  position:absolute;
  left:114px;
  top:561px;
  width:351px;
  height:128px;
}
#u19769 {
  position:absolute;
  left:2px;
  top:56px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:17px;
}
#u19770 {
  position:absolute;
  left:196px;
  top:593px;
  width:261px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
}
#u19771 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u19772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u19772 {
  position:absolute;
  left:127px;
  top:593px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
}
#u19773 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u19774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:17px;
}
#u19774 {
  position:absolute;
  left:201px;
  top:616px;
  width:256px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
}
#u19775 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u19776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u19776 {
  position:absolute;
  left:128px;
  top:617px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
}
#u19777 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u19778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:17px;
}
#u19778 {
  position:absolute;
  left:354px;
  top:570px;
  width:102px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
}
#u19779 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u19780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u19780 {
  position:absolute;
  left:127px;
  top:570px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
}
#u19781 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u19782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u19782 {
  position:absolute;
  left:128px;
  top:640px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
}
#u19783 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u19784 {
  position:absolute;
  left:417px;
  top:639px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
}
#u19785 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 142, 233, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#118EE9;
}
#u19786 {
  position:absolute;
  left:414px;
  top:698px;
  width:42px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#118EE9;
}
#u19787 {
  position:absolute;
  left:6px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u19788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 142, 233, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#118EE9;
}
#u19788 {
  position:absolute;
  left:367px;
  top:698px;
  width:42px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#118EE9;
}
#u19789 {
  position:absolute;
  left:6px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u19790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u19790 {
  position:absolute;
  left:127px;
  top:664px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
}
#u19791 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u19792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
}
#u19792 {
  position:absolute;
  left:375px;
  top:662px;
  width:82px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
}
#u19793 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u19794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:17px;
}
#u19794 {
  position:absolute;
  left:123px;
  top:698px;
  width:166px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#868686;
  text-align:right;
}
#u19795 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u19796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u19796 {
  position:absolute;
  left:425px;
  top:533px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u19797 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19798 {
  position:absolute;
  left:100px;
  top:254px;
  width:375px;
  height:42px;
}
#u19799 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#118EE9;
  text-align:center;
}
#u19800 {
  position:absolute;
  left:154px;
  top:267px;
  width:49px;
  height:16px;
  font-size:14px;
  color:#118EE9;
  text-align:center;
}
#u19801 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u19802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
}
#u19802 {
  position:absolute;
  left:368px;
  top:267px;
  width:49px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u19803 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u19804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
}
#u19804 {
  position:absolute;
  left:263px;
  top:267px;
  width:49px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u19805 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u19806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:4px;
}
#u19806 {
  position:absolute;
  left:154px;
  top:293px;
  width:49px;
  height:4px;
}
#u19807 {
  position:absolute;
  left:2px;
  top:-6px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u19808 {
  position:absolute;
  left:1184px;
  top:222px;
  width:61px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u19809 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u19810 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:203px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#CCCCCC;
}
#u19811 {
  position:absolute;
  left:1173px;
  top:263px;
  width:351px;
  height:203px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#CCCCCC;
}
#u19812 {
  position:absolute;
  left:2px;
  top:94px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:34px;
  background:inherit;
  background-color:rgba(3, 146, 222, 1);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u19813 {
  position:absolute;
  left:1172px;
  top:263px;
  width:352px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u19814 {
  position:absolute;
  left:10px;
  top:7px;
  width:324px;
  word-wrap:break-word;
}
#u19815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:128px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19815 {
  position:absolute;
  left:1173px;
  top:298px;
  width:351px;
  height:128px;
}
#u19816 {
  position:absolute;
  left:2px;
  top:56px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:17px;
}
#u19817 {
  position:absolute;
  left:1255px;
  top:330px;
  width:261px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
}
#u19818 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u19819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u19819 {
  position:absolute;
  left:1186px;
  top:330px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
}
#u19820 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u19821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:17px;
}
#u19821 {
  position:absolute;
  left:1260px;
  top:353px;
  width:256px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
}
#u19822 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u19823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u19823 {
  position:absolute;
  left:1187px;
  top:354px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
}
#u19824 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u19825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:17px;
}
#u19825 {
  position:absolute;
  left:1413px;
  top:307px;
  width:102px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
}
#u19826 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u19827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u19827 {
  position:absolute;
  left:1186px;
  top:307px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
}
#u19828 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u19829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u19829 {
  position:absolute;
  left:1187px;
  top:377px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
}
#u19830 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u19831 {
  position:absolute;
  left:1476px;
  top:376px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
}
#u19832 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 142, 233, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#118EE9;
}
#u19833 {
  position:absolute;
  left:1473px;
  top:435px;
  width:42px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#118EE9;
}
#u19834 {
  position:absolute;
  left:6px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u19835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 142, 233, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#118EE9;
}
#u19835 {
  position:absolute;
  left:1426px;
  top:435px;
  width:42px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#118EE9;
}
#u19836 {
  position:absolute;
  left:6px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u19837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u19837 {
  position:absolute;
  left:1186px;
  top:401px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
}
#u19838 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u19839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
}
#u19839 {
  position:absolute;
  left:1434px;
  top:399px;
  width:82px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
}
#u19840 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u19841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:17px;
}
#u19841 {
  position:absolute;
  left:1182px;
  top:435px;
  width:166px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#868686;
  text-align:right;
}
#u19842 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u19843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u19843 {
  position:absolute;
  left:1484px;
  top:270px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u19844 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
