body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1289px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u15900 {
  position:absolute;
  left:485px;
  top:299px;
  width:331px;
  height:50px;
}
#u15901 {
  position:absolute;
  left:10px;
  top:10px;
  width:311px;
  word-wrap:break-word;
}
#u15902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15902 {
  position:absolute;
  left:100px;
  top:150px;
  width:375px;
  height:667px;
}
#u15903 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u15905 {
  position:absolute;
  left:100px;
  top:150px;
  width:375px;
  height:64px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u15906 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u15907 {
  position:absolute;
  left:108px;
  top:156px;
  width:360px;
  height:11px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u15908 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u15909 {
  position:absolute;
  left:249px;
  top:179px;
  width:95px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u15910 {
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u15911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u15912 {
  position:absolute;
  left:437px;
  top:192px;
  width:4px;
  height:4px;
}
#u15913 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u15914 {
  position:absolute;
  left:446px;
  top:192px;
  width:4px;
  height:4px;
}
#u15915 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u15916 {
  position:absolute;
  left:455px;
  top:192px;
  width:4px;
  height:4px;
}
#u15917 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15919 {
  position:absolute;
  left:100px;
  top:214px;
  width:375px;
  height:40px;
}
#u15920 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u15921 {
  position:absolute;
  left:113px;
  top:226px;
  width:8px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u15922 {
  position:absolute;
  left:2px;
  top:-1px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u15923 {
  position:absolute;
  left:259px;
  top:222px;
  width:85px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u15924 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u15925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u15925 {
  position:absolute;
  left:128px;
  top:177px;
  width:37px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u15926 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u15927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u15927 {
  position:absolute;
  left:113px;
  top:181px;
  width:9px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u15928 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u15929 {
  position:absolute;
  left:446px;
  top:228px;
  width:12px;
  height:12px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u15930 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u15931 {
  position:absolute;
  left:125px;
  top:224px;
  width:61px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u15932 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u15933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u15933 {
  position:absolute;
  left:100px;
  top:109px;
  width:179px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u15934 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u15935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:203px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#CCCCCC;
}
#u15935 {
  position:absolute;
  left:113px;
  top:267px;
  width:351px;
  height:203px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#CCCCCC;
}
#u15936 {
  position:absolute;
  left:2px;
  top:94px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:34px;
  background:inherit;
  background-color:rgba(3, 146, 222, 1);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u15937 {
  position:absolute;
  left:112px;
  top:267px;
  width:352px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u15938 {
  position:absolute;
  left:10px;
  top:7px;
  width:324px;
  word-wrap:break-word;
}
#u15939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:128px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15939 {
  position:absolute;
  left:113px;
  top:302px;
  width:351px;
  height:128px;
}
#u15940 {
  position:absolute;
  left:2px;
  top:56px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 142, 233, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#118EE9;
}
#u15941 {
  position:absolute;
  left:413px;
  top:439px;
  width:42px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#118EE9;
}
#u15942 {
  position:absolute;
  left:6px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u15943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 142, 233, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#118EE9;
}
#u15943 {
  position:absolute;
  left:366px;
  top:439px;
  width:42px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#118EE9;
}
#u15944 {
  position:absolute;
  left:6px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u15945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:17px;
}
#u15945 {
  position:absolute;
  left:122px;
  top:439px;
  width:166px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#868686;
  text-align:right;
}
#u15946 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u15947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u15947 {
  position:absolute;
  left:398px;
  top:274px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u15948 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u15949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:120px;
}
#u15949 {
  position:absolute;
  left:122px;
  top:306px;
  width:61px;
  height:120px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:20px;
}
#u15950 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u15951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u15951 {
  position:absolute;
  left:335px;
  top:304px;
  width:120px;
  height:120px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
  line-height:20px;
}
#u15952 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u15953 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:203px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#CCCCCC;
}
#u15954 {
  position:absolute;
  left:114px;
  top:488px;
  width:351px;
  height:203px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#CCCCCC;
}
#u15955 {
  position:absolute;
  left:2px;
  top:94px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:34px;
  background:inherit;
  background-color:rgba(3, 146, 222, 1);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u15956 {
  position:absolute;
  left:113px;
  top:488px;
  width:352px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u15957 {
  position:absolute;
  left:10px;
  top:7px;
  width:324px;
  word-wrap:break-word;
}
#u15958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:128px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15958 {
  position:absolute;
  left:114px;
  top:523px;
  width:351px;
  height:128px;
}
#u15959 {
  position:absolute;
  left:2px;
  top:56px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 142, 233, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#118EE9;
}
#u15960 {
  position:absolute;
  left:414px;
  top:660px;
  width:42px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#118EE9;
}
#u15961 {
  position:absolute;
  left:6px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u15962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 142, 233, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#118EE9;
}
#u15962 {
  position:absolute;
  left:367px;
  top:660px;
  width:42px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#118EE9;
}
#u15963 {
  position:absolute;
  left:6px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u15964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:17px;
}
#u15964 {
  position:absolute;
  left:123px;
  top:660px;
  width:166px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#868686;
  text-align:right;
}
#u15965 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u15966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u15966 {
  position:absolute;
  left:384px;
  top:495px;
  width:71px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u15967 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u15968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:120px;
}
#u15968 {
  position:absolute;
  left:123px;
  top:527px;
  width:61px;
  height:120px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:20px;
}
#u15969 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u15970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u15970 {
  position:absolute;
  left:336px;
  top:525px;
  width:120px;
  height:120px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
  line-height:20px;
}
#u15971 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u15972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u15973 {
  position:absolute;
  left:546px;
  top:406px;
  width:90px;
  height:90px;
}
#u15974 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u15975 {
  position:absolute;
  left:546px;
  top:466px;
  width:90px;
  height:16px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u15976 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u15977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u15977 {
  position:absolute;
  left:573px;
  top:419px;
  width:37px;
  height:37px;
}
#u15978 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15979 {
  position:absolute;
  left:546px;
  top:567px;
  width:375px;
  height:667px;
}
#u15980 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15981 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u15982 {
  position:absolute;
  left:546px;
  top:567px;
  width:375px;
  height:64px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u15983 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u15984 {
  position:absolute;
  left:554px;
  top:573px;
  width:360px;
  height:11px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u15985 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u15986 {
  position:absolute;
  left:695px;
  top:596px;
  width:95px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u15987 {
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u15988 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u15989 {
  position:absolute;
  left:883px;
  top:609px;
  width:4px;
  height:4px;
}
#u15990 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u15991 {
  position:absolute;
  left:892px;
  top:609px;
  width:4px;
  height:4px;
}
#u15992 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u15993 {
  position:absolute;
  left:901px;
  top:609px;
  width:4px;
  height:4px;
}
#u15994 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15995 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15996 {
  position:absolute;
  left:546px;
  top:631px;
  width:375px;
  height:40px;
}
#u15997 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u15998 {
  position:absolute;
  left:559px;
  top:643px;
  width:8px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u15999 {
  position:absolute;
  left:2px;
  top:-1px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u16000 {
  position:absolute;
  left:705px;
  top:639px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u16001 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16002 {
  position:absolute;
  left:574px;
  top:594px;
  width:37px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16003 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u16004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u16004 {
  position:absolute;
  left:559px;
  top:598px;
  width:9px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u16005 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u16006 {
  position:absolute;
  left:571px;
  top:641px;
  width:61px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u16007 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u16008 {
  position:absolute;
  left:562px;
  top:685px;
  width:346px;
  height:174px;
}
#u16008_input {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:174px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u16009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
}
#u16009 {
  position:absolute;
  left:574px;
  top:703px;
  width:129px;
  height:16px;
  color:#949494;
}
#u16010 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u16011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:44px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u16011 {
  position:absolute;
  left:562px;
  top:889px;
  width:339px;
  height:44px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u16012 {
  position:absolute;
  left:2px;
  top:10px;
  width:335px;
  word-wrap:break-word;
}
#u16013 {
  position:absolute;
  left:388px;
  top:660px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u16013_seg0 {
  position:absolute;
  left:-4px;
  top:-65px;
  width:8px;
  height:65px;
}
#u16013_seg1 {
  position:absolute;
  left:-4px;
  top:-65px;
  width:162px;
  height:8px;
}
#u16013_seg2 {
  position:absolute;
  left:143px;
  top:-71px;
  width:20px;
  height:20px;
}
#u16014 {
  position:absolute;
  left:-2px;
  top:-69px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u16015 {
  position:absolute;
  left:646px;
  top:446px;
  width:229px;
  height:50px;
}
#u16016 {
  position:absolute;
  left:10px;
  top:10px;
  width:209px;
  word-wrap:break-word;
}
#u16017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u16018 {
  position:absolute;
  left:971px;
  top:843px;
  width:90px;
  height:90px;
}
#u16019 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u16020 {
  position:absolute;
  left:971px;
  top:903px;
  width:90px;
  height:16px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u16021 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u16022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u16022 {
  position:absolute;
  left:998px;
  top:856px;
  width:37px;
  height:37px;
}
#u16023 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u16024 {
  position:absolute;
  left:1071px;
  top:867px;
  width:218px;
  height:66px;
}
#u16025 {
  position:absolute;
  left:10px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u16026 {
  position:absolute;
  left:455px;
  top:449px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u16026_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:95px;
  height:8px;
}
#u16026_seg1 {
  position:absolute;
  left:87px;
  top:-4px;
  width:8px;
  height:10px;
}
#u16026_seg2 {
  position:absolute;
  left:87px;
  top:2px;
  width:8px;
  height:4px;
}
#u16026_seg3 {
  position:absolute;
  left:81px;
  top:-13px;
  width:20px;
  height:20px;
}
#u16027 {
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
