body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12104 {
  position:absolute;
  left:1065px;
  top:174px;
  width:375px;
  height:667px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12105 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12106 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u12107 {
  position:absolute;
  left:1073px;
  top:180px;
  width:360px;
  height:11px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12108 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12109 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12110 {
  position:absolute;
  left:1065px;
  top:174px;
  width:375px;
  height:64px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12111 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u12112 {
  position:absolute;
  left:1073px;
  top:180px;
  width:360px;
  height:11px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12113 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u12114 {
  position:absolute;
  left:1214px;
  top:204px;
  width:95px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u12115 {
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u12116 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12117 {
  position:absolute;
  left:1093px;
  top:202px;
  width:37px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12118 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u12119 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u12120 {
  position:absolute;
  left:1396px;
  top:213px;
  width:4px;
  height:4px;
}
#u12121 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u12122 {
  position:absolute;
  left:1405px;
  top:213px;
  width:4px;
  height:4px;
}
#u12123 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u12124 {
  position:absolute;
  left:1414px;
  top:213px;
  width:4px;
  height:4px;
}
#u12125 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u12126 {
  position:absolute;
  left:1076px;
  top:205px;
  width:11px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12127 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12128 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12129 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#515151;
  text-align:left;
}
#u12130 {
  position:absolute;
  left:1087px;
  top:409px;
  width:331px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#515151;
  text-align:left;
}
#u12130_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(17, 142, 233, 1);
  -webkit-box-shadow:0px 0px 5px rgba(17, 142, 233, 1);
  box-shadow:0px 0px 5px rgba(17, 142, 233, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#515151;
  text-align:left;
}
#u12130.mouseDown {
}
#u12131 {
  position:absolute;
  left:18px;
  top:11px;
  width:311px;
  word-wrap:break-word;
}
#u12132 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12133 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:48px;
  background:inherit;
  background-color:rgba(17, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12134 {
  position:absolute;
  left:1087px;
  top:552px;
  width:331px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12135 {
  position:absolute;
  left:2px;
  top:12px;
  width:327px;
  word-wrap:break-word;
}
#u12136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
}
#u12136 {
  position:absolute;
  left:1109px;
  top:802px;
  width:300px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u12137 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u12138 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:89px;
}
#u12139 {
  position:absolute;
  left:1132px;
  top:285px;
  width:259px;
  height:89px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12140 {
  position:absolute;
  left:2px;
  top:36px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12141 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12142 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#515151;
  text-align:left;
}
#u12143 {
  position:absolute;
  left:1087px;
  top:477px;
  width:331px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#515151;
  text-align:left;
}
#u12143_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(17, 142, 233, 1);
  -webkit-box-shadow:0px 0px 5px rgba(17, 142, 233, 1);
  box-shadow:0px 0px 5px rgba(17, 142, 233, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#515151;
  text-align:left;
}
#u12143.mouseDown {
}
#u12144 {
  position:absolute;
  left:18px;
  top:11px;
  width:311px;
  word-wrap:break-word;
}
#u12145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u12145 {
  position:absolute;
  left:1065px;
  top:134px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u12146 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:52px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u12147 {
  position:absolute;
  left:1460px;
  top:552px;
  width:280px;
  height:52px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u12148 {
  position:absolute;
  left:10px;
  top:10px;
  width:260px;
  word-wrap:break-word;
}
#u12149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:712px;
}
#u12149 {
  position:absolute;
  left:100px;
  top:134px;
  width:404px;
  height:712px;
}
#u12150 {
  position:absolute;
  left:2px;
  top:348px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:10px;
}
#u12151 {
  position:absolute;
  left:204px;
  top:784px;
  width:18px;
  height:10px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u12152 {
  position:absolute;
  left:2px;
  top:-3px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:184px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12153 {
  position:absolute;
  left:173px;
  top:602px;
  width:80px;
  height:184px;
}
#u12154 {
  position:absolute;
  left:2px;
  top:84px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:2px;
}
#u12155 {
  position:absolute;
  left:176px;
  top:711px;
  width:73px;
  height:1px;
}
#u12156 {
  position:absolute;
  left:2px;
  top:-8px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12157 {
  position:absolute;
  left:187px;
  top:687px;
  width:53px;
  height:16px;
}
#u12158 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:2px;
}
#u12159 {
  position:absolute;
  left:177px;
  top:745px;
  width:73px;
  height:1px;
}
#u12160 {
  position:absolute;
  left:2px;
  top:-8px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12161 {
  position:absolute;
  left:188px;
  top:721px;
  width:53px;
  height:16px;
}
#u12162 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12163 {
  position:absolute;
  left:188px;
  top:753px;
  width:53px;
  height:16px;
}
#u12164 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:2px;
}
#u12165 {
  position:absolute;
  left:177px;
  top:641px;
  width:73px;
  height:1px;
}
#u12166 {
  position:absolute;
  left:2px;
  top:-8px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12167 {
  position:absolute;
  left:188px;
  top:617px;
  width:53px;
  height:16px;
}
#u12168 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:2px;
}
#u12169 {
  position:absolute;
  left:178px;
  top:676px;
  width:73px;
  height:1px;
}
#u12170 {
  position:absolute;
  left:2px;
  top:-8px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12171 {
  position:absolute;
  left:189px;
  top:652px;
  width:53px;
  height:16px;
}
#u12172 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:41px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12173 {
  position:absolute;
  left:390px;
  top:798px;
  width:105px;
  height:41px;
}
#u12174 {
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u12175 {
  position:absolute;
  left:410px;
  top:810px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u12176 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u12177 {
  position:absolute;
  left:599px;
  top:519px;
  width:208px;
  height:114px;
}
#u12178 {
  position:absolute;
  left:10px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u12179 {
  position:absolute;
  left:241px;
  top:761px;
  width:0px;
  height:0px;
}
#u12179_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:114px;
  height:8px;
}
#u12179_seg1 {
  position:absolute;
  left:106px;
  top:-189px;
  width:8px;
  height:193px;
}
#u12179_seg2 {
  position:absolute;
  left:106px;
  top:-189px;
  width:252px;
  height:8px;
}
#u12179_seg3 {
  position:absolute;
  left:343px;
  top:-195px;
  width:20px;
  height:20px;
}
#u12180 {
  position:absolute;
  left:60px;
  top:-170px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u12181 {
  position:absolute;
  left:599px;
  top:794px;
  width:208px;
  height:49px;
}
#u12182 {
  position:absolute;
  left:10px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u12183 {
  position:absolute;
  left:495px;
  top:819px;
  width:0px;
  height:0px;
}
#u12183_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:108px;
  height:8px;
}
#u12183_seg1 {
  position:absolute;
  left:89px;
  top:-10px;
  width:20px;
  height:20px;
}
#u12184 {
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u12185 {
  position:absolute;
  left:100px;
  top:100px;
  width:37px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u12186 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
